<!DOCTYPE html>
<html>

<head>
    <title>Spring Boot ajax example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<nav class=" navbar-default navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-type="temperature">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Temperature <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-option" data-id="2643743" href="#">London</a></li>
                        <li><a class="dropdown-option" data-id="5128638" href="#">New York</a></li>
                        <li><a class="dropdown-option" data-id="5549222" href="#">Washington</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown" data-type="temperature">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Pressure <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-option" data-id="2643743" href="#">London</a></li>
                        <li><a class="dropdown-option" data-id="5128638" href="#">New York</a></li>
                        <li><a class="dropdown-option" data-id="5549222" href="#">Washington</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown" data-type="humidity">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Humidity <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-option" data-id="2643743" href="#">London</a></li>
                        <li><a class="dropdown-option" data-id="5128638" href="#">New York</a></li>
                        <li><a class="dropdown-option" data-id="5549222" href="#">Washington</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="starter-template">
        <div id="feedback"  class="alert alert-danger" style="display:none;" role="alert"></div>
        <div class="container-fluid">
            <canvas id="canvas"></canvas>
        </div>
    </div>

</div>

<div class="container">
    <footer></footer>
</div>

<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/Chart.bundle.js"></script>
<script type="text/javascript" src="js/moment.js"></script>
<script type="text/javascript" src="js/chartjs-plugin-zoom.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>